* {
  box-sizing: border-box;
}

body {
  background: #1b213b;
}

h1,
h2,
h3 {
  text-align: center;
  color: #51b4b6;
  text-shadow: 5px 0 5px black, 0 5px 5px black;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -2.4px;
  font-weight: 700;
  color: #51b4b6;
  font-weight: 700;
  text-shadow: 10px 0 10px black, 0 10px 10px black;
}

.charts {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.chart {
  background-color: #262d47;
  padding: 25px 25px;
  border-radius: 4px;
  margin-bottom: 10px;
}
